<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  nav a.active {
    color: red;
    text-decoration: underline;
  }
</style>

<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Counter
  </a>
  <!-- Se usan corchetes para cuando se quiera hacer una asignación de propiedades -->
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>

  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">Dragonball</a>
</nav>
